/* app css stylesheet */

body {
  font-family: 'Roboto', sans-serif;
  color: #333333;
  margin: 0em;
}

.post {
  padding: 10px;
  margin: 2px;
  border: 1px solid #333333;
}

#login_frame {
  width: 500px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  display:block;
}

#spinner {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 ) 
              url('http://i.stack.imgur.com/FhHRx.gif') 
              50% 50% 
              no-repeat;
}

#topnav {
  width: 100%;
  top: 0px;
  
  position: fixed;
  background: #ac3939;
  border-bottom: 0.1em solid #333333;
  color: #EEEEEE;
  height: 2em;
}
#main_frame {
  position: fixed;
  top: 2.1em;
  bottom: 4.1em;
  width: 100%;
  overflow: auto;
}
#bottomnav{
  border-top: 0.1em solid #333333;
  background: #ac3939;
  color: #EEEEEE;
  width: 100%;
  position: fixed;
  bottom: 0px;
  height: 4em;
}


.logo {
  font-size: 130%;
}

#logout {
}

.header {
  padding: 0em;
  margin: 0.25em;
  list-style: none;
}

.header li {
  display: inline; 
  cursor: default;
  list-style-type: none;
  padding: 0.25em;
}

.menu {
  list-style: none;
  padding: 0em;
}
.menu li {
  display: inline; 
  cursor: default;
  list-style-type: none;
  padding: 1em;
}

.selected {
  background: white;
  border: 1px solid #333333;
  color: #ac3939;
  border-top: 1px solid white;
}
