/* app css stylesheet */

.controlgroup-textinput {
  padding-top:.1em;
  padding-bottom:.1em;
}

#div-map {
  display: none;
}

#menu {
  background-color: rgba(255, 255, 255, 0.6) !important;
}

#menu li {
  background-color: rgba(255, 255, 255, 0.6) !important;
}

#menu ul li.ui-li-divider{
  border-top:none !important;
}

#button-ask {
  display: none;
  border: 5px solid #F6F6F6;
  background-color: #4DA6FF;
  background-image: url(/img/hand-ride.png);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  border-radius: 45px;
  width: 60px;
  height: 60px;
  background-position: center center
}

#button-share {
  display: none;
  border: 5px solid #F6F6F6;
  background-color: #4DA6FF;
  background-image: url(/img/taxi-share.png);
  background-position: center center;
  background-size: 45px;
  background-repeat: no-repeat;
  border-radius: 60px;
  width: 60px;
  height: 60px;
}

#button-offer {
  display: none;
  border: 5px solid #F6F6F6;
  background-color: #4DA6FF;
  background-image: url(/img/car-share.png);
  background-position: center center;
  background-size: 45px;
  background-repeat: no-repeat;
  border-radius: 60px;
  width: 60px;
  height: 60px;
}

#button-bardemir:after {
  background-color: #4DA6FF;
}

#button-accessibility:after {
  background-color: #4DA6FF;
}

#menu-map-left .ui-collapsible-heading .ui-btn {
  background-color: rgba(210, 210, 210, 0.6) !important;
}

#menu-map-left .ui-collapsible-content {
  background-color: rgba(255, 255, 255, 0.6) !important;
  margin: 0.1em;
  padding: 0.1em;
}

#menu-map-right .ui-btn {
  margin: auto !important;
  margin-bottom: 0.3em !important;
}

#menu-map-left {
  display: none;
  cursor: pointer !important;
  float: right;  
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 0px;
}

#menu-map-right {
  display: none;
  cursor: pointer !important;
  float: right;  
  z-index: 1;
  position: absolute;
  bottom: 120px;
  right: 10px;
}

#main-rides {
  padding: 0;
  position : absolute !important;
  top : 40px !important;
  right : 0;
  bottom : 40px !important;
  left : 0 !important;
}

#div-map {
  height: 100%;
  width: 100%;
}

body {
  display: none;
}

#footer-common {
  display: none;
}

#header-common {
  display: none;
}
